body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  background: #6a0dad; /* Fondo morado */
}

.contenedor {
  width: 85%;
  max-width: 1100px;
  padding: 20px;
}

/* ITALIA */
.italia {
  background: #4b6f3c;
  color: white;
  text-align: center;
  padding: 50px 0;
  font-size: 45px;
}

/* Jugadores */
.jugadores {
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

.jugador {
  text-align: center;
  font-size: 18px;
}

.foto {
  width: 110px;
  height: 110px;
  background: brown;
  border-radius: 50%;
  margin: auto;
}

.jugador p {
  margin: 10px 0 0 0;
  font-weight: bold;
  font-size: 22px;
}

.jugador span {
  font-size: 16px;
  color: gray;
}

/* 2026 */
.anio {
  background: red;
  color: white;
  text-align: center;
  font-size: 55px;
  padding: 50px 0;
}

/* Campeón */
.campeon {
  background: black;
  color: white;
  text-align: center;
  padding: 40px 0;
}

.cuadro-blanco {
  width: 450px;
  height: 170px;
  background: white;
  border-radius: 50px;
  margin: 25px auto;
}

/* Menú */
.menu {
  background: green;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
  font-size: 22px;
}